.subMainDiv{
    background-image: url("src/assets/img/home_img.jpeg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 170% ;
    background-position-y: 93%;
    height: 500px;
}